@import '/styles/variables';

.title{
    font-size: 30px;
    margin-bottom: 5px;
}


.hr{
    height: 2px;
    width: 100%;
    border: 0;
    margin: 0;
    background-image: linear-gradient(to left, $black-0, $red-black);
    margin-bottom: 10px;
}

.balance{
    font-size: 35px;
    font-weight: 600;

    span{
        font-size: 30px;
        color: $red-0;
    }
}

.img{
    filter: invert(100%);
}