@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #08091b;
  color: #fff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;

  &::selection {
    background-color: $black-0;
    color: $red-0;
  }
}

@media (max-width: 1450px) {
  body {
    padding: 2.5vw 0;
  }
}
