@import '/styles/variables';

.container{
    min-height: 500px;
    min-width: 500px;
    border-radius: 20px;
    background-color: $red-black;
    border: solid 1px rgba($black-0, 0.7);
    box-shadow: rgba($red-black, 0.3) 0px 3px 6px, rgba($red-black, 0.4) 0px 3px 6px;
    padding: 30px;
}

.title{
    font-size: 27px;
    font-weight: 500;
    margin-bottom: 10px;
}

.hr{
    height: 2px;
    width: 100%;
    border: 0;
    margin: 0;
    background-image: linear-gradient(to left,$red-black, $black-2);
    margin-bottom: 20px;
}

.balanceTitle{
    font-size: 23px;
    font-weight: 300;
    margin-bottom: 10px;
}

.balance{
    height: 25px;
    font-size: 21px;
    font-weight: 300;
    margin-bottom: 30px;

    display: flex;
}

.img{
    margin-left: 10px;
    cursor: pointer;
    position: relative;
}

.copied{
    font-size: 12px;
    position: absolute;
    opacity: 1;
    transition: all 0.3s;
}

.copiedFalse{
    font-size: 12px;
    transition: all 0.2s;
    position: absolute;
    opacity: 0;
}

.titleMint{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    color: $black-0;
    text-shadow: 0 0 5px $black-0;
}

.input{
    width: 100%;
    height: 55px;
    border-radius: 7px;
    border: 0;
    color: #fff;
    padding: 0 20px;
    font-size: 20px;

    background:linear-gradient(104.04deg,$black-2,$red-black);
    box-shadow: 0 0 5px $red-black;

    &:focus{
        border: solid 2px $red-0;
        box-shadow: 0 0 12px $red-0;
        outline: none;
      }
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* Firefox */
.input[type=number] {
  appearance: textfield;
}

.input::placeholder{
    text-align: center;
    color: #fff;
}

.btnContainer{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


.btn{
    background:linear-gradient(104.04deg,$black-2,$red-black);
    color: rgb(255, 255, 255);
    font-weight: 500;
    border: 0;
    font-size: 14px;
    font-weight: 600;
    height: 50px;
    line-height: 20px;
    padding: 0 16px;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 0 5px $red-black;

    &:hover{
        background:$black-1;
    }
}

@media (max-width:560px){
    
    .container{
        min-width: 400px;
    }
}

@media (max-width:450px){
    
    .container{
        min-width: 350px;
        margin-bottom: 20px;
    }
}

@media (max-width:400px){
    .container{
        min-width: 300px;
    }
}